@import './variable.scss';

body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  background: #f3f4f6;
}

body {
  font-family: $font_family-primary;
  color: $text-color-222;
}

.base-container {
  padding-top: 7vh !important;
}
