$text-color-main: rgba(34, 34, 34, 1); // 主色

$text-color-less: rgba(34, 34, 34, 0.5); // 次色

$text-color-222: #222;

$divider-color: #eee;

$text-color-gray: #ccc;

$text-color-primary: #4d79f3;

$background-color: #f3f4f6;

$font_family-primary: '-apple-system', 'BlinkMacSystemFont', 'PingFangSC-Regular', 'Microsoft YaHei',
    Helvetica, sans-serif !important;

$font_family-Medium: 'PingFangSC-Medium', '-apple-system', 'BlinkMacSystemFont', sans-serif;

$icon-color-1: #5d6470;
